html {
  font-size: 10px;
}

#root {
  display: grid;
  justify-content: center;
}

.form {
  display: grid;
  grid-template-columns: 20rem 20rem;
}

.cell {
  padding: 2rem 2rem 2rem 2rem;
}

.error input {
  border: solid 0.05rem red;
}

.error select {
  border: solid 0.05rem red;
}

.form button[type='submit'] {
  background: orangered;
  font-size: 2rem;
}
